@page "/sobre"

<div class="container">
    <div class="row">
        <div class="col-9">
            <div class="circle">
                <div class="circle-image" style="background-image: url('img/author.jpg');"></div>
            </div>
            <h1 class="postTitle">Sobre Mim</h1>
  

            <p>Sou apaixonado por tecnologia, sempre buscando inovações e tendências participando de encontros, feiras e seminários, conectando com pessoas afim de expandir ideias para aplicar em projetos pessoais e profissionais.</p>
        </div>

    </div>
</div>
