@page "/"
<PageTitle>JLBlog</PageTitle>

<div class="container">
    @foreach (var post in posts)
    {
        <a href="/article/@post.Title">
            <div class="row post-row">
                @if (post == posts.First()) // primeira postagem
                {
                   
                    <div class="col-sm-12 col-md-6">
                        <!-- coluna maior para imagem -->
                        <img class="w-100 post-image-fisrt" src="img/articleMainImages/@post.Image" />
                    </div>
                    <div class="col-sm-12 col-md-6 post-front-page align-content-sm-start">
                        <h1>@post.Title</h1>
                        <p>Publicado em: @post.PostDate.ToString("dd/MM/yyyy")</p>
                    </div>
                    <br/>
                    
                }
                else // outras postagens
                {
                    
                    <div class="col-sm-4 ">
                        <img class="w-100 post-image" src="img/articleMainImages/@post.Image" />
                    </div>
                    <div class="col-sm-8 post-front-page">
                        <h1>@post.Title</h1>
                        <p>Publicado em: @post.PostDate.ToString("dd/MM/yyyy")</p>
                    </div>

                    <br />
                   
                }
            </div>
        </a>
    }
</div>





@using JLBlog.Data;
@inject IConfiguration Configuration;

@code {

    private AppDbContext _context;

    public List<JLBlog.Data.Post> posts;

    protected override async Task OnInitializedAsync()
    {
        _context = new AppDbContext(Configuration);
        posts = _context.Posts.OrderByDescending(p => p.Id).ToList();
    }
}
