@page "/article/{Id:int}"



<div class="container">

    <div class="row">
        <div class="col-9">
            <img class="w-100" src="img/articleMainImages/@post.Image" />

            <h1 class="postTitle">@post.Title</h1>
            <h3 class="postIntroduction">@post.Introduction</h3>
            <p class ="postBodyText">@((MarkupString)post.BodyText)</p>
        </div>
    </div>



</div>

@using JLBlog.Data;
@inject IConfiguration Configuration;

@code {
    [Parameter]
    public int id { get; set; }
    private AppDbContext _context;

    public JLBlog.Data.Post post;

    protected override async Task OnInitializedAsync()
    {
        _context = new AppDbContext(Configuration);
        post = _context.Posts.Where(x => x.Id == id).FirstOrDefault();
    }
}

